{% extends 'base.html' %}
{% block content %}
<div class="content-about">
    <h2>Niche Market helps buyer to have more options with better price from leased cars. Also, leased vehicle owner can save disposition-fee, and make extra-money for downpayment for next lease from selling their leased vehicle.</h2>

</div>
<div class="about">
    <div>
        <img src="https://www.autolist.com/6tuem73u73an/331mOnBSgDuEsLMZuQH37d/628462ee8381825e7d387bd1edf67183/lease-disposition-fee-1166-image.jpg" width="500">

    </div>
    <div class="column-2">
        <h2>Disposition-fee</h2>
        <p>When you return your leased vehicle, you have to pay disposition-fee unless you lease another vehicle with same vehicle.</p>
    </div>
</div>
<div class="content-about">
    <h1>Why you should sell your leased vehicle?</h1>
    <h3>Since the market value for used car keep increasing, you will find out that your lease vehicle have more value than your payoff. This means that you can make profit by selling your leased vehicle than returning it at the end of contract.</h3>
</div>

{% endblock %}