{% extends 'base.html' %}
{% block content %}
<div class="profile">
    <div class="profileform">
        <h2>Welcome, {{ user.username }}</h2>
        <p>Add your vehicle with VIN</p>

        <form action="add/" method="GET">
            <label for="VIN">VIN#</label>
            <input name="VIN" />
            <button type="submit"><span></span>Search</button>
        </form>
    </div>



    {% for vehicle in vehicles %}

    <a href="{{ vehicle.id }}/edit">
        <li>
            {{vehicle}}
            {{ vehicle.make }}
            {{ vehicle.model }}
            {{ vehicle.trim }}
            {{ vehicle.year }}
        </li>
    </a>
    {% endfor %}

</div>
{% block display %}
{% endblock %}
{% endblock %}