{% extends 'base.html' %}
{% block content %}
<div>
    <div class="vehicle">
        <h2>
            Vehicles for Sale
        </h2>
    <div class="post">
        <a href="add/"><button><span></span>Post vehicle
        </button></a>
    </div>
    </div>
    <div class="container">
        <div class ="row">
            <div class="container">
                {% for post in posts %}
                <div class="card" style="width: 18rem;">
                    {% if post.vehicle_image %}
        
                    <img src="{{ post.vehicle_image.url }}" class="card-img-top">
                
                    {% else %}
                
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSETkXAZjZ_X0v4OMGi9AIX9BH_EmakbRndBs6kR5-0eJ4Qwd6QLFzULkDH_05kqr8iRco&usqp=CAU" class="card-img-top">
                
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{ post.vehicle }}</h5>
                      <p class="card-text">${{ post.price }}</p>
                      <a href="{{ post.id }}/" class="btn btn-primary">Go details</a>
                    </div>
                  </div>
        
        {% endfor %}
            </div>
             
        </div>
    </div>
    <ul>
        
    </ul>
</div>

{% endblock %}